.progress-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  left: 0;
  padding: 16px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.progress-bar {
  background: rgba(223, 219, 216, 0.54);
  border-radius: 8px;
  font-size: 0;
  height: 4px;
  margin-bottom: 2px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.progress-container .progress-bar {
  flex: 1;
  margin: 0 2px;
}

.progress-container .progress-bar .bar {
  background: #ececec;
  display: inline-block;
  height: 8px;
  transition: none;
  width: 100%;
}
