.progress-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  left: 0;
  padding: 16px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  .progress-bar {
    height: 4px;
    background-color: rgba(223, 219, 216, 0.54);
    border-radius: 8px;
    overflow: hidden;
    flex: 1;
    .bar {
      height: 100%;
      background-color: red;
      transform-origin: left;
      transition: transform 0.1s linear;
    }
  }
}
